<h1>Employees</h1>


<% @employees.each do |employee_instance| %>
    <div><%= link_to employee_instance.first_name+" "+employee_instance.last_name, employee_path(employee_instance.id) %></div>
<% end %>


